.footer {
    background-color: var(--dark-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer--flex {
    display: flex;
    align-items: baseline;
}

.logo--footer {
    color: var(--white-color);
}

.address {
    margin-top: 28px;
}

.address__link {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.address__item + .address__item {
    margin-top: 12px;
}

.address__link--white {
    color: var(--white-color);
}

.footer-socials,
.footer-form {
    margin-left: 92px;
}

.footer-socials__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    font-style: normal;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--first-title-color);
}

.footer-socials__list {
    display: flex;
    justify-content: space-between;
    gap:10px;
    width: 206px;
}

.footer-socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--first-title-color);
    transition: background-color var(--duration) var(--timing-function);
}

.footer-socials__link:hover,
.footer-socials__link:focus {
    background-color: var(--akcent-color);
}

.footer-socials__icon {
    fill:currentColor;
}

.footer-form__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    font-style: normal;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--first-title-color);
}

.footer-form--flex {
    display: flex;
}

.footer-form__input {
    width: 358px;
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 1.03px;
    color: rgba(255, 255, 255, 0.60);
    background-color: transparent;
    outline: none;
}

.footer-form__btn {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-family: inherit;
    background-color: var(--akcent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border: var(--akcent-color);
    border-radius: 6px;
    padding: 10px 28px;
    margin-left: 12px;
    min-width: 200px;
    max-height:50px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
}

.footer-form__icon {
    margin-left: 10px;
    fill: var(--white-color);
}