.ourwork {
    padding-bottom: 94px;
}

.ourwork__title {
    margin: 0;
    margin-bottom: 50px;
    color: var(--secondary-title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
}

.ourwork__list {
    display: flex;
}

.ourwork__item {
    position: relative;
}

.ourwork__item + .ourwork__item {
    margin-left: 30px;
}

.ourwork__img {
    display: block;
}

.ourwork__label {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 70px;
    font-size: 14px;
    color: var(--first-title-color);
    background-color: rgba(47,48,58,0.8);

    font-weight: 700;
    letter-spacing: 1.03px;
    text-transform: uppercase;
}